@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

body {
	padding: 0;
	margin: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.86;
	text-transform: uppercase;
	color: #333333;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
	color: #000000;
}

.wrapper {
	background-color: #ffffff;
	width: 1200px;
	margin: 0 auto;
}

.main-navigation-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.main-navigation-item{
	font-weight: 700;
	color: #000000;
}

.main-navigation-item:hover,
.main-navigation-item:focus {
	color: #81b3d2;
	outline: none;
}

.main-navigation-item:active {
	color: #000000;
	opacity: 0.3;
}

.active-hostels {
	color: #766357;
}

/* Содержимое главной страницы */

.intro-caption {
	font-weight: 700;
	font-size: 21px;
	line-height: 1.23;
	color: #000000;
}

.feature-caption {
	font-weight: 700;
	font-size: 21px;
	line-height: 1;
	color: #000000;
}

.feature-text,
.feature-number {
	font-size: 14px;
	line-height: 1.5;
}

.feature-blue .feature-caption,
.feature-blue .feature-text,
.feature-blue .feature-number {
	color: #ffffff;
}

.feature-blue {
	background-color: #81b3d2;
}

.feature-grey {
	background-color: #eeeeee;
}

.advantages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.advantages-desc {
	font-weight: 700;
	font-size: 21px;
	line-height: 1;
	color: #000000;
}

.advantages-text {
	font-size: 14px;
	line-height: 1.5;
}

.search-hotel-desc {
	font-weight: 700;
	font-size: 30px;
	line-height: 1.2;
	color: #000000;
}

.search-hotel-text {
	font-size: 14px;
	line-height: 1.71;
}

.search-btn {
	font-weight: 700;
	font-size: 21px;
	line-height: 1.23;
	background-color: #766357;
	color: #ffffff;
	text-transform: uppercase;
	outline: none;
	border: none;
	text-align: center;
}

.search-btn:hover {
	background-color: #604e43;
}

.search-btn:active {
	background-color: #503e33;
	color: #cacaca;
}

.search-form-lbl,
.search-form-inp {
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.search-form-btn,
.search-form-inp, 
.icon-calendar {
	background-color: #f2f2f2;
}

.search-form-inp {
	border: none;
}

.form-row-halfed .search-form-inp {
	text-align: center;
}

.find-btn {
	font-weight: 700;
	font-size: 21px;
	line-height: 1.23;
	background-color: #81b3d2;
	color: #ffffff;
	text-transform: uppercase;
	outline: none;
	border: none;
	text-align: center;
}

.find-btn:hover {
	background-color: #669ec0;
}

.find-btn:active {
	background-color: #5496bd;
	color: #cacaca;
}

.footer-hashtag {
	font-weight: 700;
	font-size: 21px;
	line-height: 1.23;
	color: #000000;
}

.footer-social {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer-copyright {
	color: #000000;
}


/* Содержимое страницы "Гостиницы" */


.filter {
	background-color: #6c7780;
	background-image: url("../img/filter-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.filter-fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

.filter-fieldset-caption {
	font-size: 16px;
	line-height: 1.31;
	color: #ffffff;
	font-weight: 700;
}

.filter-fieldset-lbl {
	font-size: 14px;
	line-height: 1.5;
	color: #ffffff;
}

.filter-fieldset-inp {
	background-color: transparent;
	font-size: 14px;
	line-height: 1.5;
	color: #ffffff;
	border: none;
	outline: none;
}

.filter-form-btn {
	color: #ffffff;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 3px;
	font-size: 14px;
	line-height: 1.5;
	text-transform: uppercase;
}

.filter-form-btn:hover,
.filter-form-btn:focus {
	background-color: #ffffff;
	color: #000000;
}

/* Секция с результатами поиска */

.search-found {
	font-size: 21px;
	line-height: 1.23;
	color: #000000;
}

.search-sorting {
	font-size: 12px;
	line-height: 1.5;
	color: #000000;
}

.search-filter {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.search-filter-item {
	color: #cacaca;
	border-bottom: 1px dotted #cacaca;
}

.search-filter-item:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.search-filter-item:active {
	color: #000000;
	border: none;
}

.search-price {
	color: #81b3d2;
	border: none;
}

.search-arrow {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.search-results-caption {
	font-size: 21px;
	line-height: 1.23;
	color: #000000;
}

.search-results-link:hover {
	color: #81b3d2;
}

.search-results-link:active {
	color: #cacaca;
}

.search-result-cost {
	font-size: 14px;
	line-height: 1.5;
	color: #333333;
}

.button-item-more,
.button-item-book {
	font-size: 14px;
	line-height: 1.5;
	color: #ffffff;
}

.button-item-more {
	background-color: #81b3d2;
	color: #ffffff;
}

.button-item-more:hover {
	background-color: #669ec0;
	color: #ffffff;
}

.button-item-more:active {
	background-color: #5496bd;
	color: #cacaca;
}

.button-item-book {
	background-color: #766357;
	color: #ffffff;
}

.button-item-book:hover {
	background-color: #604e43;
	color: #ffffff;
}

.button-item-book:active {
	background-color: #503e33;
	color: #cacaca;
}

.rating-value {
	font-size: 14px;
	line-height: 1.5;
	color: #666666;
	background-color: #f2f2f2;
}