@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

html {
	background-color: #f2f2f2;
}

body {
	padding: 0;
	margin: 0 auto;
	width: 1200px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.86;
	text-align: center;
	text-transform: uppercase;
	color: #333333;
	background-color: #ffffff;
	box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

a {
	text-decoration: none;
	color: #000000;
	outline: none;
}

.main-header {
	position: relative;
}

.main-navigation-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
}

.main-navigation-item {
	width: 20%;
	padding: 15px 0;
	box-sizing: border-box;
}

.main-navigation-item:first-child {
	padding-left: 72px;
	text-align: left;
}
.main-navigation-item:nth-child(2) {
	margin-right: 240px;
}
.main-navigation-item:last-child {
	padding-right: 72px;
	text-align: right;
}

.main-navigation-link {
	font-weight: 700;
}

.main-navigation-link-active {
	color: #766357;
}

.main-navigation-link:hover,
.main-navigation-link:focus {
	color: #81b3d2;
}

.main-navigation-link:active {
	color: #000000;
	opacity: 0.3;
}

.main-header-logo {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}

/* Содержимое главной страницы */

.intro {
	padding-bottom: 50px;
}

.intro-photo {
	margin-bottom: 56px;
}

.intro-caption,
.intro-text {
	max-width: 575px;
	margin: 0 auto;
}

.intro-caption {
	font-weight: 700;
	font-size: 21px;
	color: #000000;
	margin-bottom: 27px;
}


.feature-wrap {
	display: flex;
	flex-wrap: wrap;
}

.feature {
	background-color: #eeeeee;
	box-sizing: border-box;
	width: 400px;
	padding: 52px 0;
}

.feature-caption {
	margin: 0 auto;
	margin-bottom: 22px;
	font-weight: 700;
	font-size: 21px;
	line-height: 1;
	color: #000000;
	max-width: 160px;
}

.feature-text {
	max-width: 315px;
	margin: 0 auto;
	margin-top: 20px;
}

.feature-text,
.feature-number {
	font-size: 14px;
	line-height: 1.5;
}

.feature-blue .feature-caption,
.feature-blue .feature-text,
.feature-blue .feature-number {
	color: #ffffff;
}

.feature-blue {
	background-color: #81b3d2;
}

.advantages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.advantages-item {
	box-sizing: border-box;
	width: 400px;
	display: flex;
	align-atems: center;
	flex-wrap: wrap;
}

.advantages-description {
	margin-top: 150px;
	margin-bottom: 20px;
	width: 100%;
	font-weight: 700;
	font-size: 21px;
	line-height: 1;
	color: #000000;
}

.advantages-text {
	width: 100%;
	margin: 0;
	margin-bottom: 70px;
	font-size: 14px;
	line-height: 1.5;
}

.search-hotel {
	margin: 0 auto;
	padding-top: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.search-hotel-description {
	max-width: 100%;
	margin-bottom: 23px;
	font-weight: 700;
	font-size: 30px;
	line-height: 1.2;
	color: #000000;
}

.search-hotel-text {
	margin: 0 auto;
	font-size: 14px;
	line-height: 1.71;
	margin-bottom: 50px;
	width: 100%;
}

.search-btn {
	font-weight: 700;
	font-size: 21px;
	line-height: 1.23;
	background-color: #766357;
	color: #ffffff;
	text-transform: uppercase;
	outline: none;
	border: none;
	margin: 0 auto;
	padding: 30px 0;
	width: 560px;
}

.search-btn:hover {
	background-color: #604e43;
}

.search-btn:active {
	background-color: #503e33;
	color: #cacaca;
}

.search-form {
	background-color: #fff;
	width: 560px;
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);

}

.form-row {
	position: relative;
	margin: 0;
	padding-bottom: 40px;
	display: flex;
	
}

.form-row:first-child {
	padding-top: 50px;
}

.search-form-label {
	margin-left: 50px;
	padding: 6px 0;
}

.search-form-input {
	border: none;
	flex-grow: 1;
	margin-left: 15px;
	margin-right: 53px;
	padding: 6px 12px;
}

.search-form-label,
.search-form-input {
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.input-date-out {
	margin-left: 12px;
}

.search-form-btn {
	display: none;
}

.search-form-btn,
.search-form-input {
	background-color: #f2f2f2;
}

.form-row-halfed {
	margin: 0;
	margin-left: 40px;
	padding: 0;
	padding-bottom: 40px;
}

.form-row-halfed .search-form-input {
	text-align: center;
	padding: 0;
	width: 100%;
	margin-left: 32px;
}

.form-row-halfed .search-form-label {
	margin-left: 10px;
}

.find-submit {
	font-weight: 700;
	font-size: 21px;
	line-height: 1.23;
	background-color: #81b3d2;
	color: #ffffff;
	text-transform: uppercase;
	outline: none;
	border: none;
	padding: 16px 0;
	margin-bottom: 54px;
	width: 456px;
}

.find-submit:hover {
	background-color: #669ec0;
}

.find-submit:active {
	background-color: #5496bd;
	color: #cacaca;
}

.search-map {
	width: 100%;
	height: 593px;
	background-image: url("../img/map.jpg");
	background-color: #cbdda9;
}

.main-footer {
	position: relative;
	margin-top: -120px;
	background-color: rgba(255, 255, 255, 0.9);
	width: 100%;
	padding-bottom: 36px;
	display: flex;
}

.footer-hashtag,
.footer-social-list,
.footer-copyright {
	vertical-align: top;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.footer-hashtag {
	font-weight: 700;
	font-size: 21px;
	line-height: 1.23;
	color: #000000;
	width: 400px;
	box-sizing: border-box;
	padding-top: 45px;
}

.footer-social-list {
	list-style-type: none;
	width: 400px;
	padding-left: 5px;
	padding-top: 36px;
}

.footer-social-item,
.social-btn {
	height: 48px;
	width: 46px;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	background-color: #81b3d2;
}

.footer-social-item {
	margin-right: 5px;
}

.footer-copyright {
	box-sizing: border-box;
	vertical-align: top;
	position: relative;
	text-align: left;
	padding: 43px 0px 0px 102px;
	color: #000000;
	width: 392px;
}


/* Содержимое страницы "Гостиницы" */

.filter-hotels {
	background-color: #6c7780;
	background-image: url("../img/filter-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.filter-form {
	display: flex;
}

.filter-fieldset {
	padding: 0;
	margin: 0;
	border: none;
	display: flex;
	margin-top: 25px;
	margin-bottom: 25px;
}

.filter-fieldset-infra {
	margin-left: 73px;
}

.filter-fieldset-housing{
	margin-left: 120px;
}

.filter-fieldset-price {
	margin-left: 357px;
}

.filter-caption {
	font-size: 16px;
	line-height: 1.31;
	color: #ffffff;
	font-weight: 700;
	text-align: left;
}

.filter-label {
	font-size: 14px;
	line-height: 1.5;
	color: #ffffff;
	text-align: left;
	margin-top: 25px;
}

.filter-input {
	background-color: transparent;
	font-size: 14px;
	line-height: 1.5;
	color: #ffffff;
	border: none;
	outline: none;	
}

.filter-form-submit {
	color: #ffffff;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 3px;
	font-size: 14px;
	line-height: 1.5;
	text-transform: uppercase;
	margin-left: 80px;
}

.filter-form-submit:hover,
.filter-form-submit:focus {
	background-color: #ffffff;
	color: #000000;
}

/* Секция с результатами поиска */

.separator {
	border: none;
	background-color: #e5e5e5;
	height: 1px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.search-results {
	margin-top: 30px;
	margin-bottom: 120px;
}

.sorting-wrapper {
	display: flex;
	flex-direction: row;
	width: 1050px;
	margin: 0 auto;
}

.search-found {
	font-size: 21px;
	line-height: 1.23;
	color: #000000;
	font-weight: 700;
}

.search-sorting {
	font-size: 12px;
	line-height: 1.5;
	color: #000000;
	margin-left: 45px;
	margin-top: 7px;
}

.search-filter {
	margin: 0;
	margin-left: 40px;
	padding: 0;
	list-style-type: none;
	display: flex;
	margin-top: 3px;
}

.search-filter-item {
	color: #cacaca;
	border-bottom: 1px dotted #cacaca;
	margin-right: 30px;
}

.search-filter-item:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.search-filter-item:active {
	color: #000000;
	border: none;
}

.search-price {
	color: #81b3d2;
	border: none;
}

.search-arrow {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	margin-top: 3px;
	margin-left: 268px;
}

.search-results-item {
	display: flex;
	width: 1050px;
	margin: 0 auto;
}

.search-results-caption {
	font-size: 21px;
	line-height: 1.23;
	color: #000000;
	text-align: left;
}

.search-results-link:hover {
	color: #81b3d2;
}

.search-results-link:active {
	color: #cacaca;
}

.search-results-description {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}

.search-result-image {
	margin-top: 5px;
}

.search-results-caption {
	padding: 0;
	margin: 0;
}

.search-result-cost {
	text-align: left;
	display: flex;
}

.search-result-cost-hostel,
.search-result-cost-price {
	font-size: 14px;
	line-height: 1.5;
	color: #333333;
}

.search-result-cost-hostel {
	flex-basis: 46%;
}


.button-item-about,
.button-item-book {
	font-size: 14px;
	line-height: 1.5;
	color: #ffffff;
	padding: 3px 15px;
}

.button-item-book {
	margin-left: 6px;
}

.button-item-about {
	background-color: #81b3d2;
	color: #ffffff;
}

.button-item-about:hover {
	background-color: #669ec0;
	color: #ffffff;
}

.button-item-about:active {
	background-color: #5496bd;
	color: #cacaca;
}

.button-item-book {
	background-color: #766357;
	color: #ffffff;
}

.button-item-book:hover {
	background-color: #604e43;
	color: #ffffff;
}

.button-item-book:active {
	background-color: #503e33;
	color: #cacaca;
}

.rating-value {
	font-size: 14px;
	line-height: 1.5;
	color: #666666;
	background-color: #f2f2f2;
}

.search-results-rating {
	flex-grow: 1;
	text-align: right;
}

.rating-value {
	padding: 3px 12px;
}